<div class="container">
    <button type="button" class="btn btn-primary btn-sm manage-btn text-right" (click)="logout()">Logout</button>
    <h1 class="text-center">Manage Blog</h1>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Published</h6>
        <div class="d-flex text-muted pt-3" *ngFor="let blog of blogData; let i = index">
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="5" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    
          <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div appClickStopPropagation class="d-flex justify-content-between">
              <strong class="text-gray-dark"><a [routerLink] ="['/blog/title/', blog.title]">{{ blog.title }}</a></strong>
              <span><button type="button" class="btn btn-primary btn-sm manage-btn" (click)="addUpdate({submitType: 'UPDATE', id: blog.id})">Edit</button> <button type="button" class="btn btn-danger btn-sm manage-btn" (click)="confirmDelete(blog.id)">Delete</button></span>
            </div>
            <small class="text-muted"><span class="d-block">@updated {{ blog.datePublished }}</span></small>
          </div>
        </div>
        <small class="d-block text-end mt-3">
          <button class="btn btn-primary btn-sm manage-btn manage-btn2" (click)="addUpdate({submitType: 'CREATE'})" >Create Blog</button>
          <button type="button" #create [hidden]="true" class="btn btn-primary btn-sm manage-btn manage-btn2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ></button>
        </small>
    </div>

    <!-- Create blog modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">{{ addUpdateModal }}</h5>
              <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="blogEntry" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Title</label>
                  <input type="text" id="title" class="form-control" formControlName="title">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Content</label>
                  <textarea type="text" id="content" class="form-control manage-content" formControlName="content"></textarea>
                </div>
                <h3>SEO</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Meta Title</label>
                    <input type="text" id="metaTitle" class="form-control" formControlName="metaTitle">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Meta Description</label>
                    <textarea type="text" id="metaDescription" class="form-control" formControlName="metaDescription"></textarea>
                  </div>
                  <p class="text-danger" *ngIf="showErr">{{ errMessage }}</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Publish</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>

    <!-- Delete blog modal -->
    <button type="button" [hidden]="true" #delete class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"></button>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body manage-success text-center">
            <h5>Are you sure you want to delete this blog?</h5>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteBlog()">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Success modal -->
    <button type="button" [hidden]="true" #success class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body manage-success text-center">
            <h3>Success!</h3>  
            <img src="../../../assets/image/succes.png"/>
            <p>{{ message }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
