.manage {
    &-btn {
        margin: 1px;
        min-width: 60px;
    }
    &-btn2 {
        min-width: 122px !important;
    }
    &-success img{
        max-width: 150px;
    }
    &-success h3{
        color: green;
    }
    &-content {
        min-height: 400px !important;
    }
}

a {
    text-decoration: none !important;
}