<div class="container">
    <h1 class="text-center">Blog List</h1>
    <div class="blog-list">
        <div class="row text-justify">
            <div class="col-md-6" *ngFor="let blog of blogData">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://via.placeholder.com/150" class="img-fluid rounded-start blog-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><a [routerLink] ="['/blog/title/', blog.title]">{{ blog.title }}</a></h5>
                          <p class="card-text">{{ blog.content | slice:0:20}}</p>
                          <p class="card-text"><small class="text-muted">Published: {{ blog.datePublished }}</small></p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>